<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %> alert-dismissible text-center">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= message %>
  </div>
<% end %>
